<%- include('includes/head') %> 
<div>
  <h1>
    <% if (typeof title !== 'undefined') { %> 
      <%= title %> 
    <% } else { %> 
      Título não encontrado
    <% } %>
  </h1>
  <p>
    <% numbers.forEach(num => { %>
      <%= num %>
    <% });  %> 
  </p>
  <p><%= teste %> </p>
</div>
<%- include('includes/script') %> 